@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {

}

html {
    font-size: 62.5%;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.6rem;
}

.link {
  text-decoration: none;
  color: inherit; // tuỳ chọn: giữ nguyên màu văn bản xung quanh
}
